#homePage {
  height: auto;
  display: block;
}

nav {
  margin-top: 30px;

  span {
    font-size: $font-size-base * 2;
    font-weight: 200;
  }

  .logo {
    font-weight: 200;
  }

  .btn-menu {
    background-image: url(/img/menu.svg);
    width: 30px;
    height: 30px;
    cursor: pointer;
  }
}

.showcase {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  #caption {
    text-align: center;
    padding: 10px;


    h1 {
      font-weight: 200;
    }

    h3 {
      font-weight: 100;
    }

    button {
      margin: 20px 0;
    }

    .btn-primary {
      background-color: $custom-primary;
    }
  }

  .img-showcase {
    padding: 2rem 2rem;
    width: 250px;
    height: 250px;
  }
}


@media (min-width: 992px) {
  .showcase {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    #caption {
      margin: 0 30px;
    }

    h1 {
      font-size: $font-size-base * 3;
      font-weight: 300;
    }

    h3 {
      font-weight: 100;
    }

    .img {
      padding: 2rem 2rem;
      width: 350px;
      height: 350px;
      margin: 0 30px;
    }
  }
}

//styling meny
#menu {
  display: none;
}

.btn-close {
  cursor: pointer;
}

.menu-item {
  margin-top: 120px;

  .ul-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;

    li {
      text-align: center;
      list-style: none;

      a {
        text-decoration: none;
        color: $black;
        font-size: $font-size-base * 3;
        font-weight: 300;
      }
    }
  }
}